@charset "UTF-8";
/* CSS Document */
/* items in [path_to_file] are placeholders and should be replaced with the correct paths */
/* CSS can be altered to suit your layout needs depending on the creative */

#pushdown{
	border:none;
	height:175px;
	background:transparent;
}
body{
	background:url(http://www.scrippsonline.com/projectPreview/_dev/brandscape/food/bg.jpg) center top no-repeat #09F;
	
}
#client_text{
	position:absolute;
	margin-top:15px;
	margin-left:260px;
}
#client_cta{
	position:absolute;
	overflow:hidden;
	height:35px;
	width:120px;
	background:url(http://www.scrippsonline.com/projectPreview/_dev/brandscape/food/cta.png) no-repeat;
	margin-top:80px;
	margin-left:540px;
	cursor:pointer
}
#client_cta:hover{
	background-position:0px -51px;
}
#client_logo{
	position:absolute;
	width:120px;
	margin-top:15px;
	margin-left:10px;
	cursor:pointer
}
#adClick{height:175px;width:994px; cursor:pointer;}	