/*These should go in the RSI css. <sponsor_name>.css */
#fn-e div.promo.mini-ad .hd {
  zoom: 1;
  /*Set Header Background Color Here. Use dominant color in logo. */
  background-color: #1364ae;
}
#fn-e div.promo.mini-ad .hd h4{
  /*Set Header Text Color Here*/
  color: #fff;
}
/* vertically center 'sponsored by' text by setting the line-height to height of sponsor logo */
#fn-e .mini-ad .ft p span, #rz-e #asi-module .ft p span {
  line-height: 31px;
  vertical-align: baseline;
}
#fn-e .mini-ad .ft p img{
  vertical-align: middle;
}