
         /* CSS Document */
         .sidescape{
           position:fixed;
           width: 970px;
           top:44px; /* Offset for uLive top nav */
           z-index:0;
           height: 0;
           margin: 0 auto;
         }
		 div[itemscope] {
background: #ffffff url('http://adimages.scrippsnetworks.com/iax/ulive/ulive_video_bg.gif') repeat-y 50% top;
}
         .player-component,
         .video-meta-component{
          background: #F3F2F0;
         }

           .sidescapeLeft{
             position:relative;
             left:-300px; /* negative width of left element */
             float:left;
           }
           .sidescapeRight{
             position:relative;
             right: -330px; /* negative width of right element */
             float:right;
           }
        /*Hide if below 1024px*/
         @media screen and (min-width: 1024px){
           body{
             background-image:none;
             background-color: #ffffff;
           }
         }
		 
		 .onboardBlueBar {z-index:1}

